<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_area :body, class: "textarea is-primary", rows: "2", placeholder: "Have you guys checked out John 12? ITS SO AMAZING..." %>
  </div>

  <div class="actions">
    <%= form.submit "Post", class: "button is-primary" %>
  </div>
<% end %>
